 h2{
    max-width: 100%;
    margin: 0;
        color: #000;
}




/* .abs > div {
    flex: 1 1 150px;
    margin: 5px;
    border: 1px solid #3fb8a9;
    display: flex;
    justify-content: center;
    align-items: center;

} */
